.container-fluid{
  // margin-top: 200px;
  margin: 30px;

}

.navbar-brand {
  margin-left: 20px;
}
.navbar {
  background: #5BCCF0;
  // background: #000000;
}
a.navbar {
  background: #5BCCF0;
  // background: #000000;
}
mat-icon{
  margin-top: 10px;
}

.logo {
  width: 120px;
  height: 120px;
  margin-top: -5px;
}

.navbar-brand {
  margin-left: 20px;
  margin-top: 30px;
  // font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  margin-top: -4px;
  // @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  font-family: 'Great Vibes', cursive;
}
