.navbar {
  background: #5BCCF0;
  // background: #000000;
}

// @import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
mat-icon{
  margin-top: 10px;
}

.navbar, .navbar-transparent {
  // background: 0 0!important;
  // background-color: darkolivegreen;
  // padding-top: 25px;
}

.logo {
  width: 120px;
  height: 120px;
  margin-top: -5px;

}

.navbar-brand {
  margin-left: 20px;
  margin-top: 30px;
  // font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  // @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  font-family: 'Great Vibes', cursive;
}


