

        <!-- <div *ngIf="authService.userData as user"> -->
          <!-- <a class="navbar-brand" placement="bottom" [routerLink]="[imageList[i].id]" target="_blank" > -->
            <!-- <a [href]="imageList[i].imageUrl" target="_blank" > -->


          <div *ngIf="imageList">
            <div *ngFor="let i of rowIndexArray">
              <div class="over-lay">
                <a  placement="bottom" [href]="[imageList[i].imageUrl]" target="_blank">

                <img [src]="imageList[i].imageUrl" alt="" style="border-radius: 8px;"  #img>
                <div class="over-lay-text">{{imageList[i].caption}}</div>
                <div class="download"> <a [href]="[imageList[i].imageUrl.jpg]" [download]="imageList[i].imageUrl"  >Download</a> </div>
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="download"> <a [href]="[imageList[i].imageUrl.jpg]" [download]="[imageList[i].caption]"  >Download</a> </div> -->              <!-- <div class="download"> <a [href]="[imageList[i].imageUrl.jpg]" [download]="[imageList[i].caption]"  >Download</a> </div> -->
        <!-- <div class="download"> <a [href]="[imageList[i].imageUrl]+'jpg'" download="image.jpg"  >Download</a> </div> -->

        <!-- <div *ngIf="imageList">
         <a  placement="bottom" [href]="imageList[1].imageUrl" target="_blank">
          <img [src]="imageList[1].imageUrl" alt="" style="border-radius: 8px;"  #img>
         </a>
         </div> -->
          <!-- </a> -->
          <!-- <img [src]="imageList[i].imageUrl" alt="" class="imag-fluid" style="border-radius: 8px;" > -->
          <!-- <img [src]="imageList[i].imageUrl" alt="" class="imag-fluid" style="border-radius: 8px;" #img > -->
          <!-- <img [src]="imageList[1].caption" alt="" class="imag-fluid" style="border-radius: 8px;"> -->
          <!-- <span class="imagebox-desc">{{imageList[i].caption}}</span> -->
          <!-- <span></span> -->
          <!-- Image Gallery -->
          <!-- <img [src]="imageList[i].imageUrl" alt="" class="imag-fluid" style="border-radius: 8px;" > -->
          <!-- </a> -->
          <!-- <a id="playlist" class="button" download='{{ imageList[i].imageUrl }}' [href]="imageList[i].imageUrl" style="display: inline;">Download</a> -->
          <!-- <a id="playlist" class="button" download='imagename.png' [href]="imageList[i].imageUrl" style="display: inline;">Download</a> -->
          <!-- <p [src]="imageList[1].caption" alt="" class="imag-fluid" style="border-radius: 8px;"></p> -->

          <!-- <img src="IMAGE_URL" #img> -->
          <!-- <a href="javascript:void(0);" (click)="downloadImage(img)">Download</a> -->

          <!-- <a class="js-download-a-tag rd__button rd__button--download" download="" href="/photo/5222580/download/?search_query=&amp;tracking_id=y4ugqqmtwi" target="_blank" data-id="5222580">
            <span>ดาวน์โหลดฟรี</span>
          </a> -->

          <!-- <a id="playlist" class="button" download='{{ imageList[0].imageUrl }}' href="" style="display: inline;">Download Me</a> -->
        <!-- <div *ngIf="files$ | async as files; else loading">
          <div *ngFor="let file of files" class="d-flex border px-2 py-1 mb-2 align-items-center">
            <div class="card">
              <div>{{file.name}}</div>
              <div class="ml-auto">
                  <a [href]="file.url" download={{file.name}} target="_blank">download</a>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <mat-card class="space-storage">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <img class="card-content" [src]="imageList[i].imageUrl" alt=""  style="border-radius: 8px;">
              </div>
            </div>
          </div>
        </mat-card> -->


          <!-- <span class="imagebox-desc">{{imageList[i].caption}}</span> -->



