

        <!-- <div *ngIf="authService.userData as user"> -->
          <!-- <a class="navbar-brand" placement="bottom" [routerLink]="[imageList[i].id]" target="_blank" > -->
            <!-- <a [href]="imageList[i].imageUrl" target="_blank" > -->


          <div *ngIf="imageList">
            <!-- <div class="search-hero">
              <input class="form-control" type="text" name="search" (keyup)="search($event)" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
            </div> -->
            <div *ngFor="let i of rowIndexArray ">
              <!-- <div class="over-lay-text">{{imageList[i].caption | filter:searchText }}</div> -->

              <div class="over-lay">
                <a  placement="bottom" [href]="[imageList[i].imageUrl]" target="_blank">

                <img [src]="imageList[i].imageUrl" alt="" style="border-radius: 8px;"  #img>
                <div class="over-lay-text">{{imageList[i].caption }}</div>
                <div class="download"> <a [href]="[imageList[i].imageUrl.jpg]" [download]="[imageList[i].caption]+'.jpg'"  >Download</a> </div>
              </a>
            </div>
          </div>
        </div>





        <!-- <div class="container">
          <div class="row">
            <div class="search-hero">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
            </div>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Id</th>
                <th>Hero Name</th>
                <th>Country</th>
              </tr>
              </thead>
              <tbody *ngIf="imageList">
              <tr *ngFor="let hero of heroes | filter:searchText" >
                <td>{{ hero.id }}</td>
                <td>{{ hero.name }}</td>
                <td>{{ hero.country }}</td>

              </tr>
              </tbody>
            </table>
          </div>
        </div> -->




