.navbar {
  background: #5BCCF0;
  // background: #000000;
}
a.navbar {
  background: #5BCCF0;
  // background: #000000;
}
mat-icon{
  margin-top: 10px;
}

.navbar, .navbar-transparent {
  // background: 0 0!important;
  // background-color: darkolivegreen;
  // padding-top: 25px;
}

.logo {
  width: 50px;
  height: 50px;
}

.navbar-brand {
  margin-left: 20px;
}
