<app-nav></app-nav>



<!-- <main>
  <div>
    <h1>เทคนิคการถ่ายภาพ (Shooting technique)</h1>
  </div>
</main> -->
<main style="margin-top: 150px;">
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex" >
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3 ">
                <span  class="col-lg-4" style="font-family: 'Taviraj', serif; " >เทคนิคการถ่ายภาพ (Shooting technique)</span>
              </h1>
              <!-- <p class="lead ">The design system comes with four pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p> -->
              <div class="btn-wrapper">
                <!-- <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/alerts?ref=adsa-landing-page" class="btn btn-info btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                  <span class="btn-inner--text">Components</span>
                </a>
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Download Angular</span>
                </a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew" style="margin-top: 55px;">
        <!-- <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg"> -->
          <!-- <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon> -->
        <!-- </svg> -->
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container" >
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5"style="font-family: 'Taviraj', serif;">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">

                    <img class="img-pivtrue"src="https://media.discordapp.net/attachments/766228286354227220/766320362073751552/grid-20181224-110117.png?width=720&height=375" alt="">

                  </div>
                  <h2 class="text-primary text-uppercase">การตั้งค่ากล้องโหมดต่างๆ</h2>
                  <!-- <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p> -->
                  <p class="description mt-3">
                    - พื้นฐานการควบคุมกล้องสำหรับมือใหม่
                  </p>
                  <p class="">
                    - เคล็ดลับการตั้งค่า SPEED – ISO – APERTURE พื้นฐานที่คนถ่ายภาพต้องรู้
                  </p>
                  <p class="">
                    - โหมดกล้องสำหรับมือใหม่วิธีการใช้แต่ละโหมดให้ถูกต้องและวิธีการตั้งค่า
                  </p>
                  <p class="">
                    - การตั้งค่ากล้องสำหรับมือใหม่เริ่มพื้นฐานจากศูนย์กันเลยใครก็ทำได้
                  </p>
                  <p class="">
                    - รวมทุกเรื่องที่ต้องรู้เกี่ยวกับระบบโฟกัสโหมดโฟกัสวิธีโฟกัสตั้งแต่ต้นจนจบ
                  </p>
                  <p class="">
                    - โหมด PASMต่างกันยังไงควรใช้โหมดไหนถ่ายภาพ
                  </p>



                  <!-- 7 เหตุผลสำหรับมือใหม่ ทำไมต้องใช้โหมด M
                  7 วิธีลัดสำหรับมือใหม่ ถ่ายภาพโหมด M ด้วยตัวเอง
                  โหมดวัดแสง การวัดแสง และ ระบบวัดแสง ฉบับมือใหม่เข้าใจง่าย เลือกใช้ได้ไม่พลาด
                  EXPOSURE TRIANGLE พื้นฐานการตั้งค่า APERTURE, SHUTTER SPEED, ISO รู้เรื่องนี้ ถ่ายโหมด M ได้แน่นอน!
                  8-BIT VS 16-BIT อธิบายความต่างระหว่าง BIT DEPTH ทั้ง 2 แบบให้เข้าใจง่าย ๆ -->
                  <!-- <div>
                    <span class="badge badge-pill badge-primary">angular</span>
                    <span class="badge badge-pill badge-primary">ng-bootstrap</span>
                    <span class="badge badge-pill badge-primary">creative</span>
                  </div> -->
                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a> -->
                </div>
              </div>
            </div>
            <div class="col-lg-4"  class="col-lg-4" style="font-family: 'Taviraj', serif;">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">

                    <img  class="img-pivtrue" src="https://media.discordapp.net/attachments/766228286354227220/766320604399665172/mb_1.jpg?width=633&height=475" alt="">

                  </div>
                  <h2 class="text-success text-uppercase">การตั้งค่าแสงขั้นพื้นฐานสำหรับมือใหม่</h2>
                  <!-- <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p> -->
                  <p class="description mt-3">- หมดวัดแสงการวัดแสงและระบบวัดแสงฉบับมือใหม่เข้าใจง่าย</p>
                  <p class="">- รูรับแสงรวมพื้นฐานที่มือใหม่ต้องรู้</p>
                  <p class="">- ISO คืออะไรรวมทุกอย่างที่ต้องรู้ของ ISO สำหรับมือใหม่ตั้งแต่ต้นจนจบ</p>
                  <p class="">- การวัดแสงพื้นฐานการวัดแสงและระบบวัดแสงสำหรับมือใหม่ตั้งแต่ต้นจนจบ</p>
                  <p class="">- รวมพื้นฐาน ISO SENSITIVITY สำหรับมือใหม่ที่เริ่มต้นถ่ายภาพ</p>
                  <p class="">- วิธีการใช้ AUTO ISO สำหรับมือใหม่ และการตั้งค่าไม่ให้ NOISE เยอะเกินไป</p>
                  <p class=""></p>


                  <!-- <div>
                    <span class="badge badge-pill badge-success">business</span>
                    <span class="badge badge-pill badge-success">vision</span>
                    <span class="badge badge-pill badge-success">success</span>
                  </div> -->
                  <!-- <a href="javascript:void(0)" class="btn btn-success mt-4">Learn more</a> -->
                </div>
              </div>
            </div>
            <div class="col-lg-4" style="font-family: 'Taviraj', serif;">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">

                      <img class="img-pivtrue" src="https://cdn.discordapp.com/attachments/766228286354227220/766320129159200768/aHR0cHM6Ly9zLmlzYW5vb2suY29tL2hpLzAvdWQvMjgxLzE0MDk1MDEvaXN0b2NrXzc1NjE0NjM5X3NtYWxsLmpwZw.jpg" alt="">

                  </div>
                  <h2 class="text-warning text-uppercase">การถ่ายภาพและวีดีโอ ด้วยมือถือ</h2>
                  <!-- <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p> -->
                  <p class="">- 5 เรื่องเกี่ยวกับถ่ายวีดีโอด้วยมือถือ ที่คุณอาจจะยังไม่เคยรู้</p>
                  <p class="">- 7 ไอเดียถ่ายภาพสวยด้วยมือถือ</p>
                  <p class="">- 7 เทคนิคถ่ายภาพดวงอาทิตย์ตกให้สวยด้วยมือถือ</p>
                  <p class="">- ไอเดียง่าย ๆ ถ่ายภาพด้วยมือถือให้สวยสำหรับมือใหม่</p>
                  <p class="">- การถ่ายภาพท่องเที่ยวให้สวยด้วยมือถือโดย 3 บล็อกเกอร์สายท่องเที่ยว</p>
                  <p class="">- เทคนิคถ่ายภาพให้สวยด้วยมือถือด้วยการใช้กรอบภาพ</p>

                  <!-- <div>
                    <span class="badge badge-pill badge-warning">marketing</span>
                    <span class="badge badge-pill badge-warning">product</span>
                    <span class="badge badge-pill badge-warning">launch</span>
                  </div> -->
                  <!-- <a href="javascript:void(0)" class="btn btn-warning mt-4">Learn more</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg" style="margin-top: inherit;">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="https://cdn.discordapp.com/attachments/766228286354227220/766323463228882959/camera-basics-1610.jpg" class="img-fluid floating" style="border-radius: 8px;">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <!-- <i class="ni ni-settings-gear-65"></i> -->
            </div>
            <h3 style="font-family: 'Taviraj', serif; font-size:20px;">การถ่ายภาพ</h3>
              <p style="font-family: 'Taviraj', serif; font-size: 15px;">การถ่ายภาพ เป็นการบันทึกความทรงจำที่ผ่านมาไม่ให้ลบเลือนหายไปตามกาลเวลา ทำให้คุณได้จดจำช่วงเวลาดีๆเอาไว้เพื่อมาดูย้อนความหลังได้ ในปัจจุบันการถ่ายภาพได้พัฒนาไปมากมีกล้องที่สามารถถ่ายภาพออกมาได้อย่างสวยงาม และ สามารถเลือกรูปภาพได้ ถ่ายไม่ดีก็ลบทิ้งไม่เหมือนสมัยก่อนที่ใช้กล้องฟิล์มที่ต้องคอยมาลุ้นตอนล้างเสร็จ แต่การถ่ายภาพให้ออกมาดีก็จะต้องมีเทคนิคกันหน่อย วันนี้เรามีเทคนิคการถ่ายภาพให้ออกมาสวยอย่างมืออาชีพมาฝากกันไปดูกันค่ะ ว่ามีเทคนิคอะไรที่น่าสนใจบ้าง</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <!-- <i class="ni ni-settings-gear-65"></i> -->
                    </div>
                  </div>
                  <div>
                    <!-- <h6 class="mb-0">Carefully crafted components</h6> -->
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <!-- <i class="ni ni-html5"></i> -->
                    </div>
                  </div>
                  <div>
                    <!-- <h6 class="mb-0">Amazing page examples</h6> -->
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <!-- <i class="ni ni-satisfied"></i> -->
                    </div>
                  </div>
                  <div>
                    <!-- <h6 class="mb-0">Super friendly support team</h6> -->
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="" style="margin-top: inherit;">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="https://cdn.discordapp.com/attachments/766228286354227220/766327735664508968/johannes-plenio-RwHv7LgeC7s-unsplash.jpg" class="card-img-top" style="border-radius: 8px;">
            <!-- <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">

              </svg>
              <h4 class="display-3 font-weight-bold text-white">Design System</h4>
              <p class="lead text-italic text-white">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens.</p>
            </blockquote> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <!-- <i class="ni ni-settings"></i> -->
            </div>
            <h3 style="font-family: 'Taviraj', serif;font-size: 20px;"> การถ่ายภาพทิวทัศน์ </h3>
            <p  style="font-family: 'Taviraj', serif;font-size: 15px;">การถ่ายภาพทิวทัศน์ หรือ Landscape เป็นหนึ่งในหมวดหมู่ที่ได้รับความนิยมมากที่สุดของการถ่ายภาพ  แสงคือปัจจัยสำคัญลำดับต้นๆของการถ่ายภาพวิวทิวทัศน์ ซึ่งแสงที่เหมาะสมสำหรับการถ่ายภาพวิวทิวทัศน์นอกเหนือช่วงเวลาที่ฟ้าเปลี่ยนสีในยามพระอาทิตย์ขึ้น-ตก ก็คือแสงเฉียงๆของยามเช้า และบ่ายแก่ๆ ในทิศทางตามแสง เนื่องจากแสงลักษณะนี้จะทำให้ภาพวิวทิวทัศน์ดูมีมิติสวยงาม ทำให้ภาพถ่ายที่เป็นสื่อสองมิติอันแบนราบดูมีมิติที่สามหรือความลึกเกิดขึ้นแก่ผู้ชมภาพได้
            </p>
            <!-- <p>ได้พัฒนาไปมากมีกล้องที่สามารถถ่ายภาพออกมาได้อย่างสวยงาม และ สามารถเลือกรูปภาพได้ ถ่ายไม่ดีก็ลบทิ้งไม่เหมือนสมัยก่อนที่ใช้กล้องฟิล์มที่ต้องคอยมาลุ้นตอน</p>
            <p>ล้างเสร็จ แต่การถ่ายภาพให้ออกมาดีก็จะต้องมีเทคนิคกันหน่อย วันนี้เรามีเทคนิคการถ่ายภาพให้ออกมาสวยอย่างมืออาชีพมาฝากกันไปดูกันค่ะ ว่ามีเทคนิคอะไรที่น่าสนใจบ้าง</p> -->
            <a href="/upload" class="font-weight-bold text-warning mt-5" style="font-size: 20px;">You can image Gallery for upload on websites</a>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="section section-lg">

    <div class="row justify-content-center text-center mb-lg">
      <div class="col-lg-8">
        <h2 class="display-3 The-amazing-Team">ทีมพัฒนาเว็บ</h2>
        <p class="lead text-muted">สมาชิก พัฒนา Image - Gallery</p>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-8">
          <h2 class="display-3 The-amazing-Team"  style="visibility: hidden;">The amazing Team</h2>
          <p class="lead text-muted" style="visibility: hidden;">According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record maximum.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="https://cdn.discordapp.com/attachments/766228286354227220/766251932637331477/75037933_1739322909538588_7212596295943323648_o.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Thanyakon keawkanok</span>
                <!-- <span class="d-block mb-1">61114440292</span> -->
                <small class="h6 text-muted">Project Leader</small>
              </h5>
              <div class="mt-3">

                <a href="https://www.facebook.com/profile.php?id=100003826876358" class="btn btn-warning btn-icon-only " ngbTooltip="Follow us and Like us">
                  <i class="fa fa-facebook"></i>
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="https://cdn.discordapp.com/attachments/766228286354227220/766251994905968640/50327204_2112404578815672_2866495090707136512_o.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Assdawut Homesub</span>
                <small class="h6 text-muted">SA & SD</small>
              </h5>
              <div class="mt-3">

                <a href="https://www.facebook.com/aiy2000" class="btn btn-primary btn-icon-only " ngbTooltip="Follow us and Like us">
                  <i class="fa fa-facebook"></i>
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="https://cdn.discordapp.com/attachments/766228286354227220/766252052291911681/42868644_730652880603589_1988230602876256256_o.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Atiwat Kawkaew</span>
                <small class="h6 text-muted">Programmer</small>
              </h5>
              <div class="mt-3">

                <a href="https://www.facebook.com/profile.php?id=100004251376311" class="btn btn-info btn-icon-only " ngbTooltip="Follow us and Like us">
                  <i class="fa fa-facebook"></i>
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="https://cdn.discordapp.com/attachments/766228286354227220/766252100077748224/105574599_951219488637712_5207857927949601256_o.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Anapitcha Yardthong</span>
                <small class="h6 text-muted">Tester</small>
              </h5>
              <div class="mt-3">
                <a href="https://www.facebook.com/anapitcha.yardthong.37/" class="btn btn-success btn-icon-only" ngbTooltip="Follow us and Like us">
                  <i class="fa fa-facebook" ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
    <div class="container container-lg" *ngIf="getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'">

    </div>
    <div class="container">
      <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
        <div class="col-lg-6">
          <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
          <!-- <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4> -->
        </div>
        <div class="col-lg-6 text-lg-right btn-wrapper">
          <a target="_blank" href="/" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
            <i class="fa fa-twitter"></i>
          </a>
          <a target="_blank" href="/" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
            <i class="fa fa-facebook-square"></i>
          </a>
          <!-- <a target="_blank" href="https://dribbble.com/creativetim" class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round" ngbTooltip="Follow us">
            <i class="fa fa-dribbble"></i>
          </a> -->
          <a target="_blank" href="https://github.com/Keawkanok/Image_Gallery" class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on Github">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; {{test | date: 'yyyy'}}
            <a href="/show/image" target="_blank">Image Gallery</a>.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="/show/image" class="nav-link" target="_blank">Image Gallery</a>
            </li>
            <li class="nav-item">
              <a href="/picture" class="nav-link" target="_blank">About Us</a>
            </li>
            <!-- <li class="nav-item">
              <a href="http://blog.creative-tim.com?ref=adsa-footer" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/creativetimofficial/argon-design-system-angular/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </footer>
</main>
