<!-- <div class="row">
  <div class="col-md-2 offset-md-1">
    <blockquote class="blockquote">
      <p class="mb-0 h3 display-5">Image Gallery</p>
      <input type="text" placeholder="Search.." name="search">
      <footer class="blockquote-footer">with <cite title="Source Title">Firebase Storage</cite> and
        <cite title="Source Title">Angular 10</cite></footer>
    </blockquote>
    </div>
    </div> -->
    <!-- <p class="mb-0 h3 display-5">Image Gallery</p> -->
    <router-outlet></router-outlet>
